.bw-wrap {
  float: left;
  width: 30%;
}
#bw-sort { display: block; clear: both; }
.region-content ul.sortable {
  padding: 0;
  min-height: 200px;
  background: #ccc;
  margin: 0 5px 0 0;
  border: 3px solid #333;
}
.region-content ul li {
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
  display: block;
}
.region-content ul li:hover {
  background: #cff;
}
